*::-webkit-scrollbar {
  display: none;
}

.w05px {
  width: 1.5px;
}

#slider {
  grid-template-columns: repeat(5, 1fr);
  overflow: scroll hidden;
  gap: 1.5rem;
  scroll-behavior: smooth;
}

.opacity6 {
  opacity: 0.6;
}
.opacity6:hover {
  opacity: 1;
}

.media i {
  font-size: 1.6rem;
  color: black;
  background-color: #ccc;
  padding: 10px;
  border-radius: 50px;
}
.media i:hover {
  background-color: #fff;
  transition: 0.3s;
}
.hov li:hover {
  color: #fff;
}
.tracking-wide:hover {
  color: rgb(13, 42, 42);
  transition: 0.5s;
}
.tracking-wide:hover .sub-header {
  display: block;
  transition: 0.5s top;
}
.tracking-wide {
  height: 100%;
}

.sub-header {
  display: none;
  position: absolute;
  right: 0;
  height: 450px;
  width: 100%;
  background-color: white;
  color: #000;
  padding: 2vw 8vw;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.main {
  height: 100vh;
  overflow: auto;
  grid-template-columns: 25% 75%;
}

#sidebar {
  height: 100%;
  overflow: auto;
}
#product-item:hover #produt-detls {
  display: none;
}

#product-item:hover #produt-hov {
  display: flex;
}

#produt-hov {
  display: none;
}

#product-item {
  width: 330px;
  margin-bottom: 3rem;
}

#sidebar-list li,
.gender h2,
.gender span,
.kids h2,
.kids span {
  font-size: 20px;
}
